body{
    margin: 0;
    padding: 0;
    font-style:normal;
}
.heading{
    background: rgb(220, 217, 211);
}
.navbar{
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 100px;
   
}
.navbar a{
    font-size: 30px;
    margin-top: 50px;
}
.navbar_menu{
    display: flex;
    align-items: right;
    list-style: none;
    direction: rtl;
    text-align: left;
    color: black;
}
.navbar_links{
    color: rgb(0, 0, 0);
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
    font-size: 20px
}
.navbar_item{
    height: 30px;
}
.head_text{
    text-align: start;
    justify-content: ;
    width: 100%;
    height: 650px;
    
}
#ketik {
    font-size: 3em;
    font-weight:  bold ;
    margin-top: 100px;
    text-align: left;
    justify-content: left;
}
.gambar {
    float: right;
    width: 500px;
    margin: 100px ;
    margin-top: -30px;
    
}
.texting {
    text-align: left;
    justify-content: left;
    top: -100px;
    font-size: 18px;
}
.texting a{
    text-decoration: none;
    
    background-color:cornflowerblue;
    color: rgb(254, 254, 254);
    transition: all 0,3 ease;
    padding: 2px;
    border-radius: 4px;
    
}
.texting a:hover {
    background-color: #de9b0b;
    transition: all 0,3 ease;
}
.fashion img{
    width: 100%;
    height: 250px;
    border-radius: 4px;
}
.fashion:hover{
    transform: scale(1.1);
    z-index: 1;
}
.fashion p {
    color: rgb(88, 86, 82);
}
.fashion i{
    color: rgb(163, 163, 253);
}
.fashiontrends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    margin-left: 60px ;
    width: 90%;
}
.featured h3{
    text-align: center;
    justify-content: center;
}
.featured{
    justify-content: center;
    padding-top: 60px;
}
.latestproducts h3{
    justify-content: center;
    text-align: center;
}
.picture img {
    width: 60%;
    height: 250px;
    margin: 40px;
    
    
}
.picturetrends{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position:relative;
    
}
.tulisan{
    padding-left: 40px;
    padding-bottom: 30px;
}
.tulisan i{
    color: cornflowerblue;
}
.picture:hover{
    transform: scale(1.1);
    z-index: 1;
}
.hati {
    justify-content: center;
    text-align: center;
}
.hati i{
    color: rgb(170, 170, 241);
    font-size: 30px;
}
.hati p{
    color: rgb(84, 94, 91);
    font-size: 15px;
}
.comment1 {
    border: 3px solid whitesmoke;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.comment1 img{ 
    border-radius: 90%;
    width: 20%;
    margin-left: 60px;
    margin-top: 40px;
}
.hati1 i{
    color: cadetblue;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}
.hati1 p{
    justify-content: center;
    text-align: center;
}
.comment1:hover{
    transform: scale(1.1);
    z-index: 0;
}
.borderbox{
    width: 80%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}
.logo{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.download{
    background: rgb(152, 145, 145);
}
.downapp{
    text-align: left;
    justify-content: left;
    padding-top: 10%;
}
.downapp h3{
    color: white;
    font-size: 20px;
}
.downapp p{
    color: bisque;
    justify-content: left;
    text-align: left;
    display: flex;
}
.downapp img{
    width: 13%;
    display: flex;
    flex-wrap: wrap;
}
.downlogo{
    justify-content: center;
    float:;
    text-align: center;
    margin-bottom: 20px;
}
